img {
    border-radius: 50%;
}
h1 {
    font-style: oblique;
}
link {
    font-style: inherit;
}
p {
    font-size: 30px;
    text-align: center;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  display: block;
}
body {background-color:lightblue;}
